*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}

img.animated-gif{
  width: 120px;
  height: auto;

}
h1{
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
   margin-left: 40%;
   margin-top: 7%;
   font-size: 3.5rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-image: url("../image/textura01.png");
   -webkit-text-stroke: 2px;
   -webkit-text-stroke-color: #fff;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #0f0c29;
    background: -webkit-linear-gradient( #24243e, #0f0c29);
    background: linear-gradient( #24243e, #0f0c29);

    color: white;
}

.logo {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links ul li {
    list-style: none;
}

.navbar-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    display: block;
}

.navbar-links ul li:hover {
    background-color: #555;
}

.toggle-btn {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

body {

    background: #009FFF;
    background: -webkit-linear-gradient(80deg, #ec2F4B, #009FFF);
    background: linear-gradient(to right, #ec2F4B, #009FFF);

    background-size: auto;
    width: 100%;
    height: 100vh;
}


.search {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    border: solid 1px rgb(255,255,255,05);
    width: 36%;
    height: 13%;
    border-radius: 5px;
}

/* .correccion {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.65);
    max-width: 550px !important;
    border-radius: 5px;
} */

/* .correccion .opcion {
    width: 550px;
    padding: 15px;
} */

.opcion p {
    color: #fff;
}

/* .correccion .opcion ul li {
    list-style: none;
    padding: 15px;
    color: white;
} */

.search form {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.search form .input {
    width: 85%;
    height: 85%;
    padding: 15px 20px;

}

.left {
    position: relative !important;
    top: 35% !important;
    left: 3% !important;
    transform: translate(-0%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    border: solid 1px rgb(255,255,255,05);
    max-width: 250px !important;
    border-radius: 5px !important;
    width: 100%;
    padding: 15px;
}

.left p {
    color: #fff;
}

.left ul li {
    list-style: none;
    padding: 14px;
}

.left label {
    color: white;
}

.left ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 15px;
}

.hidden {
  display: none;
}

.results {
    position: absolute;
    margin-top: 1%;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -0%);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    border: solid 1px rgb(255,255,255,05);
    max-width: 555px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;

}

.gif {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -0%);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    text-align:center;
}

.results .info ul, .savedlinks .info ul{
    padding: 10px;
}

.results .info ul li, .savedlinks .info ul li{
    list-style: none;
    padding: 5px;
    color: white;
}

.results .info ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}


.links {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    border: solid 1px rgb(255,255,255,05);
    max-width: 600px;
    border-radius: 5px;
}

.links form {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.links form .textarea {

    height: 60px;
    margin-right: 2px;
}

form .searchbtn {

    width: 11%;
    height: 56px !important;
    background:#1281c6;
    border-radius:5px;
    border: solid 1px #fff;
    cursor: pointer;

}
.searchbtn:hover{
    background:#096096;
}

svg{
    margin-top: 30%;
    margin-left: 32%;
    color: #fff;
}

.syncbtn, .crawlerbtn {
    background-color: #ffec00;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

form .searchbtn .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.syncbtn .fas, .crawlerbtn .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

@media (max-width: 550px) {
    .toggle-btn{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .titulo{
        margin-left: 10%;
        margin-top: 30%;
    }
    .navbar-links ul li{
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .search{
        width: 85%;
    }
    .left{
        margin-top: -15%;
        margin-left: 15%;
    }
    .results {
        position: relative;
        margin-top: -10%;
        width: 85%;
    }
}
